<script type="text/x-handlebars-template" data-template="landingTemplate">
    <div class="content-container">
        <div class="landing-tournaments">
            <div class="title-head">
                <div class="logo-images">
                \{{#if logoImages}}
                    \{{#each logoImages}}
                        <img class="logoimages" src="\{{image}}" />
                    \{{/each}}
                \{{/if}}
                </div>
                <div class="content"
                    \{{#if titleBackgroundImage}}
                    style="
                        background-color: transparent;
                        background-image: url(\{{titleBackgroundImage}})
                    "
                    \{{/if}}
                >
                    <h5>\{{{webPageTitle}}}</h5>
                    <div class="subdetails">
                        \{{#if singleDay}}
                        <p>\{{startDate}}</p>
                        \{{else}}
                        <p>\{{startDate}} - \{{endDate}}</p>
                        \{{/if}}
                        <a>\{{golfCourseName}}</a>
                    </div>
                    {{!-- <a href="./" class="landing-primary-btn">\{{learnMore}}</a> --}}

                    <a id="participate-submit" class="landing-primary-btn" title="Event Register">Event Register</a>
                    </div>
                </div>
            </div>
            <div class="details">
                \{{{webPageBlob}}}
            </div>
            \{{#if sponsorers}}
            <div class="landing-sponsors">
                <h3>Our Sponsors</h3>
                <ul>
                    \{{#each sponsorers}}
                    <li>
                        <a href="\{{sponsorUrl}}" target="_blank">
                            <img src="\{{imageUrl}}" />
                        </a>
                    </li>
                    \{{/each}}
                </ul>
            </div>
             \{{/if}}
             \{{#if prizes}}
            <div class="landing-prizes">
                <h3>Tournament Prize Details</h3>
                <table>
                    <tr>
                        <th>Position</th>
                        <th>Prize</th>
                    </tr>
                    \{{#each prizes}}
                    <tr>
                        <td><span data-rank="\{{posRank}}"></span></td>  <td>\{{#if prizeOffer}}\{{prizeOffer}} \{{else}} \{{cashOfferPct}}\{{/if}}</td>
                    </tr>
                    \{{/each}}
                </table>
            </div>
             \{{/if}}

            <br>
            <br>
            <br>
            <div class="landing-download">
                <h3>Download the ActionGolfers app to enroll in the tournament here!</h3>
                <table>
                    <tr>
                        <td>
                            <img src="images/qr-android.jpg" />
                        </td>
                        <td>
                            <img src="images/qr-ios.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Android
                        </td>
                        <td>
                            iOS
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>
